@font-face {
    font-family: Un;
    src: url("14120.TTF");
}
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}
body {
    background-image: url("bg-top.png");
    background-repeat-x: repeat;
    background-repeat-y: no-repeat;
}
section {
    max-width: 68em;
    width: 720px;
    margin: 36px auto;
    padding: 18px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    background-color: white;
}
.passage {
    text-align: center;
    padding: 18px 26px;
    margin-bottom: 18px;
    font-family: Tahoma;
    color: #283636;
}
footer: {
    width: 100%;
    height: 24px;
    background: green;
    position: absolute;
    bottom: 0;
}
.item {
    margin: 0 12px 12px 12px;
    display: flex;
        flex-wrap: wrap;
    /*border-top: 1px dotted rgb(200, 200, 200);
    border-bottom: 1px dotted rgb(200, 200, 200);*/
    padding: 20px 0;
}
.item .img-container {
    display: inline-block;
    width: 210px;
    height: 80px;
    padding: 0;
    padding-right: 20px;
}
.item img {
    max-height: 100%;
    margin: auto;
    display: block;
}
section .border {
    border: solid 1px #283636;
}

.divider {
    height: 2px;
    width: 100px;
    background: #283636;
    display: inline-block;
    margin-bottom: 5px;
    margin-top: 16px;
}
.passage .text {
    font-size: 46px;
}
.passage .link {
    font-size: 30px;
}
.item .domain-address {
    font-size: 18px;
    font-family: Tahoma;
}
.item .title {
    font-size: 20px;
    color: gray;
    font-family: Tahoma;
}
@media screen and (max-width: 1000px) and (min-width: 800px) {
    section { width: 800px; box-shadow: unset; padding: 0; }
    section .border { border: none; }
    .passage { margin-top: 56px; }

}
@media screen and (max-width: 800px) {
    section { width: 500px; box-shadow: unset; padding: 0; }
    section .border { border: none; }
    .passage { margin-top: 56px; }
}
