@font-face {
    font-family: Un;
    src: url("14120.TTF");
}
html, body {
    margin: 0;
    padding: 0;
}
body {
    background-image: url("bg-top.png");
    background-repeat-x: repeat;
    background-repeat-y: no-repeat;
}
section {
    max-width: 68em;
    width: 950px;
    margin: 36px auto;
    padding: 18px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    background-color: white;
}
.passage {
    text-align: center;
    padding: 38px 26px;
    font-family: Tahoma;
    color: #283636;
}
.item {
    margin: 0px 20px;
    display: flex;
    padding: 8px 0;
    text-decoration: none;
    color: #283636;
}
.item .img-container {
    display: flex;
    min-width: 210px;
    height: 80px;
    padding: 0;
    padding-right: 20px;
}
.item img {
    max-height: 100%;
    margin: auto;
}
section .border {
    border: solid 2px lightgray;
    padding: 32px;
}

.divider {
    height: 2px;
    width: 100px;
    background: #283636;
    display: inline-block;
    margin-bottom: 5px;
    margin-top: 16px;
}
.passage .text {
    font-size: 36px;
}
.passage .link {
    font-size: 26px;
}
.item .domain-address {
    font-size: 18px;
    font-family: Tahoma;
    line-height: 24px;
}
.item .title {
    font-size: 21px;
    color: rgb(137, 161, 162);
    font-family: Tahoma;
}
.intro {
    margin-bottom: 50px;
}
.intro p {
    font-size: 21px;
    font-family: Tahoma;
    color: #283636;
}
.intro a {
    color: rgb(137, 161, 162);
    text-decoration: none;
}
@media screen and (max-width: 1000px) {
    section { width: 800px; box-shadow: unset; padding: 0; }
    section .border { border: none; padding: 0 }
    .passage { margin-top: 56px; padding: 18px 26px; }
    .passage .text { font-size: 46px; }
    .passage .link { font-size: 30px; }
    .item .domain-address { font-size: 21px; line-height: 34px; }
    .item .title { font-size: 26px; }
}
@media screen and (max-width: 800px) {
    section { width: 500px; box-shadow: unset; padding: 0; }
}
