@font-face {
    font-family: Un;
    src: url("14120.TTF");
}
html, body {
    margin: 0;
    padding: 0;
}
p, span { 
    color: #283636;
    font-family: Rubik;
    font-size: 18px;
}
a {
    color: #297770;
    font-family: Rubik;
    text-decoration: none;
}
body {
    background-image: url("bg-top.png");
    background-repeat-x: repeat;
    background-repeat-y: no-repeat;
}
section {
    padding-top: 18px;
    margin-top: 40px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    background-color: white;
}
section .border {
    border-top: solid 2px lightgray;
    padding-top: 32px;
}
section .textblock {
    max-width: 800px;
    margin: 0 auto;
}
.passage {
    margin-top: 24px;
    margin-bottom: 48px;
    padding: 0 32px;
    text-align: center;
}
.passage .text {
    font-size: 36px;
}
.passage .link {
    font-size: 26px;
}
.divider {
    height: 2px;
    width: 120px;
    background: #283636;
    display: inline-block;
    margin-bottom: 5px;
    margin-top: 16px;
}

.item {
    margin: 0px 20px;
    display: flex;
    align-items: center;
    padding: 8px 0;
    text-decoration: none;
    color: #283636;
}
.item .img-container {
    display: flex;
    min-width: 210px;
    height: 80px;
    padding: 0;
    padding-right: 20px;
}
.item .img-container img {
    max-height: 100%;
    margin: auto;
}
.item .domain-address {
    line-height: 24px;
}
.item .title {
    font-size: 21px;
    color: #297770;
}

.intro {
    margin-bottom: 50px;
}
.intro p {
    padding: 0 24px;
    font-size: 18px;
}
